<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/lugares">Lugares</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contacto</li>
  </ol>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6">

			<div class="card border-info mb-3">
			  <div class="card-header">¿Cómo podemos ayudarte?</div>
			  <div class="card-body text-info">
			    <h5 class="card-title">Nombre</h5>
				<input type="text" class="form-control">
				<hr />
				<h5 class="card-title">Correo</h5>
				<input type="email" class="form-control">
				<hr />
				<h5 class="card-title">Mensaje</h5>
				<textarea class="form-control"></textarea>
				<hr />
				<div class="row justify-content-end">
					<button type="button" class="btn btn-info">Enviar</button>
					<button type="button" class="btn btn-light" routerLink="/lugares">Cancelar</button>
				</div>
			  </div>
			</div>

		</div>
	</div>
</div>

