<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/lugares">Lugares</a></li>
    <li class="breadcrumb-item active" aria-current="page">Crear Lugar</li>
  </ol>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6">

			<div class="card border-info mb-3">
			  <div class="card-header"><h4>Registra un nuevo negocio</h4></div>
			  <div class="card-body text-info">
			  	<h5>Datos Generales</h5>
			  	<hr />
			    <strong class="card-title">Nombre</strong>
				<input type="text" class="form-control" [(ngModel)]="lugar.nombre">
				<hr />
				<strong class="card-title">Distancia</strong>
				<div class="input-group mb-3">
					<input type="number" class="form-control" [(ngModel)]="lugar.distancia">
					<div class="input-group-append">
					  <span class="input-group-text">kms</span>
					</div>
				</div>
				<hr />
				<strong class="card-title">Cercanía</strong>
				<select class="custom-select" id="inputGroupSelect01" [(ngModel)]="lugar.cercania">
				  <option selected>Seleccionar</option>
				  <option value="1">Cerca</option>
				  <option value="2">Lejos</option>
				  <option value="3">Muy lejos</option>
				</select>
				<hr />
				<strong class="card-title">Descripción</strong>
				<textarea class="form-control" [(ngModel)]="lugar.descripcion"></textarea>
				<hr />
				<strong class="card-title">Plan</strong>
				<select class="custom-select" id="inputGroupSelect01" [(ngModel)]="lugar.plan">
				  <option value="pagado">Pagado</option>
				  <option value="gratuito">Gratuito</option>
				</select>
				<hr />
				<h5>Datos de Ubicación</h5>
				<hr />
				<strong class="card-title">Calle y número</strong>
				<input type="text" class="form-control" [(ngModel)]="lugar.calle">
				<hr />
				<strong class="card-title">País</strong>
				<select class="custom-select" id="inputGroupSelect01" [(ngModel)]="lugar.pais">
				  <option value="{{ ubicacion.code }}" *ngFor="let ubicacion of ubicaciones">{{ ubicacion.name }}</option>
				</select>
        <hr />
        <strong class="card-title">Ciudad</strong>
        <input type="text" class="form-control" [(ngModel)]="lugar.ciudad">
				<hr />
				<div class="row justify-content-end">
					<button type="button" class="btn btn-info" (click)="guardarLugar()">Enviar</button>
					<button type="button" class="btn btn-light" routerLink="/lugares">Cancelar</button>
				</div>
			  </div>
			</div>

		</div>
	</div>
</div>

