/* You can add global styles to this file, and also import other style files */

agm-map {
	height: 300px;
}

nav {
	background-color: #1c3643;
}

footer {
	margin-top: 50px;
}

h3.lugar-list {
	font-size: 20px;
	margin: 0px;
}

#cuadrado {
	width: 200px;
	height: 200px;
	background-color: red;
}

.card > agm-map{
	height: 200px;
}

.numero_par{
	background: aliceblue;
	color: blue;
}

.oi {
	font-size: 12px;
}
