/* You can add global styles to this file, and also import other style files */

agm-map {
	height: 300px;
}

footer, nav {
	background-color: #1c3643;
}

footer {
	margin-top: 50px;
}

.numero_par{
	background: aliceblue;
	color: blue;
}

